[project]
name = "myproject"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "httpx>=0.28.1",
    "langchain-openai>=0.3.16",
    "mcp[cli]>=1.6.0",
    "openai>=1.77.0",
]
